* {
  font-family: 'Nunito', sans-serif;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.body-content {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-primary;
}

p {
  line-height: 1.8;
}

a {
  color: $color-primary;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dcdcdc;
  margin: 1em 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1165px) {
  .container {
    padding: 0 25px;
  }
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.container-small {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 625px) {
  .container-small p,
  .container-small h2,
  .container-small h3 {
    padding: 0 25px;
  }
}

.body-content {
  padding: 75px 0;
}

.post-meta {
  p {
    color: #999;
  }
}

.blog-list {
  padding-left: 0;
  list-style: none;
}

.read-more-button {
  background-color: #dcdcdc;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  color: #8c8c8c;
  cursor: pointer;
}

.read-more-button:hover {
  background-color: darken(#dcdcdc, 20%);
  color: $color-white;
  transition: 500ms;
}
footer {
  background-color: $color-offwhite;
  padding: 25px;
  p {
    text-align: center;
  }
}
